Part3_XML/Lab3/Exercise1/lessons_XML.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="TimeTable">
<xs:complexType>
<xs:sequence>

	<xs:element name="subject">
    <xs:complexType>
    <xs:sequence>
		<xs:element name="Name" type="xs:string"/>
		<xs:element name="Lecturer" type="xs:string"/>
		<xs:element name="ClassTime" type="xs:string"/>
		<xs:element name="DaysOfWeek" type="xs:string"/>
		<xs:element name="StartDate" type="xs:string"/>
		<xs:element name="ExpirationDate" type="xs:string"/>
    </xs:sequence>
    </xs:complexType>
	</xs:element>
	
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>